* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/babby.jpg);
    background-size: cover;
    background-position: cover;
    font-family: sans-serif;
}

.menu-bar {
    background: rgb(7, 138, 7);
    text-align: center;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: white;

}

.menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: white;
}

.active, .menu-bar:hover .sub-menu-1 ul li:hover {
    background-color: #1c6b0a;
    border-radius: 3px;

}

.menu-bar ul .fa {
    margin-right: 8px;
}

.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background-color: rgb(7, 138, 7);
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 0.5px solid #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}