* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/cbaby.jpg);
    background-size: cover;
    background-position: cover;
    font-family: Helvetica;
}

.a-body {
    background-image: url(images/cbaby.jpg) !important;
}

#title-bar {
    width: 80px;
    float: left;
    margin-left: 30px;
    margin-top: 15px;
    font-size: 25px;

}

h2 span {
    color: rgb(255, 255, 255);
}

h2 {
    color: rgba(13, 74, 241, 0.911);
}

.menu-bar {
    background: rgb(4, 1, 24);
    text-align: center;
}

.menu-bar ul {
    display: inline-flex;
    list-style: none;
    color: white;

}

.menu-bar ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: white;
}

.active, .menu-bar:hover .sub-menu-1 ul li:hover {
    background-color: rgba(4, 47, 88, 0.39);
    border-radius: 3px;
    color: rgb(4, 1, 24);

}

.menu-bar ul .fa {
    margin-right: 8px;
}

.sub-menu-1 {
    display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background-color: rgb(4, 1, 24);
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 0.5px solid #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}

h1 {
    margin: 40px;
    text-align: center;
    position: relative;
    padding: 20px;
}

h1 a {
    text-decoration: none;
    color: white;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    margin: 5px;
    box-sizing: content-box;
}

.alpha {
    border: 5px solid white;
    box-sizing: border-box;
    background-color: rgba(16, 3, 61, 0.295);
    text-align: center;
}


h1 a:hover {
    background-color: rgb(4, 1, 24);
    border-radius: 15px;
}

.footer-text {
    background-color: rgba(7, 1, 22, 0.829);
    width: auto;
    height: 70px;
}

footer .copyright {
    border-top: 2px solid white;
}

.text-center p{
    text-align: center;
    font-size: 20px;
    color: white;
    padding: 20px;
}

.boxed {
    border: 8px solid rgb(1, 1, 37);
    margin-top: 100px;
    margin-left: 280px;
    margin-bottom: 100px;
    box-sizing: content-box;
    width: 700px;
    position: relative;

}

.alpha-text {
    font-size: 300px;
    font-family: 'Bubblegum Sans', cursive;
}
p {
    font-size: 50px;
    font-family: 'Bubblegum Sans', cursive;
}
.alpha-text, p{
    text-align: center;
    color: rgb(228, 187, 7);
    background-color: rgba(32, 4, 109, 0.521);
    padding: 5px;
}

.small-box {
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 30px;
    position: relative;
    border: 5px solid white;
    box-sizing: border-box;
    background-color: rgba(68, 5, 97, 0.295);
    border-radius: 20px;
}

.a-list {
    margin-left: 30px;
    padding: 2px;
    list-style: square;
    color: white;
}

.previous {
    border: 1px solid white;
    border-radius: 7px;
    border-width: 3px;
    box-sizing: content-box;
    margin-left: 400px;
    margin-right: 700px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
 }

.next {
    border: 1px solid white;
    border-radius: 7px;
    border-width: 3px;
    box-sizing: content-box;
    margin-left: 700px;
    margin-right: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
}